 /* Start variable */
:root {
    --main-color: #2196f3;
    --side-color: #1787e0;
    --sec-color: #ececec;
    --transparent-color: rgb(15 116 143 / 70%);
    --p-color: #777;
    --medium-transition: 0.3s;
    --line-height: 2;
    --sec-pad: 100px 0;
}
/* End variable */
/* Start Global Rules */
* {
    padding: 0px;
    margin: 0px;
}

html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}     

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Frame Work */
/* -Start Section Title */
.sec-title {
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid;
    padding: 10px 20px;
    margin: 0 auto 100px;
    text-align: center;
    position: relative;
    transition: var(--medium-transition);
    transition-delay: 0.3s;
    z-index: 1;
}
.sec-title::before {
    content: '';
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 15%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
}
.sec-title::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 15%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
}
.sec-title:hover {
    color: white;
    border-color: transparent;
}
.sec-title:hover::after {
    border-radius: 0%;
    width: 50%;
    height: 100%;
    right: 50%;
}
.sec-title:hover::before {
    border-radius: 0%;
    width: 50%;
    height: 100%;
    left: 50%;
}
/* -End Section Title */
/* End Frame Work */
/* Start Header */
header > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

header > div .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

header > div > .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

header > div > .nav .li {
    height: 72px;
}

header > div > .nav .li .a {
    height: 72px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    position: relative;
}

header > div > .nav .li .a::before {
    content: '';
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    transform: rotateY(90deg);
    transform-origin: left;
        transition: transform var(--medium-transition);
}

header > div > .nav .li .a:hover::before {
    transform: rotateY(1deg);
}

@media (max-width: 768px) {
    header > div .logo {
        margin: 0 auto;
    }
    header > div .nav {
        height: auto;
        margin: 0 auto;
    }
    header > div .nav .li {
        height: auto;
    }
    header > div .nav .li .a {
        padding: 0px 15px;
        font-size: 14px;
        height: 40px;
    }
}

.megamenu {
    position: absolute;
    background-color: white;
    width: calc(100% - 40px);
    top: calc(100% + 50%);
    opacity: 0;
    display: none;
    left: 0px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid var(--main-color);
    transition: display 1s, opacty 5s;
    z-index: 9;
}

.nav .li.other:hover .megamenu {
    display: flex;
    opacity: 1;
    top: calc(100% + 5%);
}

.megamenu img {
    max-width: 35%;
    margin-bottom: 5%;
}

.megamenu ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

.megamenu ul li a {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    padding: 15px 60px 15px 15px;
    font-size: 18px;
    position: relative;
}

.megamenu ul li a::before {
    content: '';
    width: 100%;
    background-color: #fafafa;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(90deg);
    transform-origin: left;
    transition: transform var(--medium-transition);
}

.megamenu ul li a:hover::before {
    transform: rotateY(1deg);
}

.megamenu ul li a i {
    padding-right: 10px;
    z-index: 2;
}

.megamenu ul li a span {
    z-index: 2;
}

@media (max-width: 992px) {
    .megamenu {
        width: calc(100% - 40px - 40px);
        left: calc(0px + 20px);
    }
    .megamenu img {
        display: none;
    }
}

@media (max-width: 768px) {
    .megamenu {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        left: 0;
        padding: 0;
    }
    .megamenu .border {
        border-bottom: 1px solid #e9e6e6;
    }
    .megamenu ul {
        width: 100%;
    }
    .megamenu ul li {
        width: 100%;
    }
    .megamenu ul li a {
        padding: 15px;
        width: 100%;
    }
}
/* End Header */
/* Start Lnading */
.landing {
    background-color: var(--sec-color);
    height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
}

.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20%;
    left: 0;
    background-color: var(--sec-color);
    transform: skewY(-5deg);
    z-index: -1;
}

.landing > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.landing > div .text {
    width: 50%;
}

.landing > div .text h1 {
    font-size: 40px;
}

.landing > div .text p {
    color: var(--p-color);
    line-height: var(--line-height);
    width: 80%;
    font-size: 18px;
}

.landing > div .image {
    width: 50%;
}

.landing > div .image img {
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
}

.landing > div a {
    animation: bouncing 1.5s infinite;
}

.landing > div a .arrow {
    position: absolute;
    bottom: -25%;
    left: 50%;
    font-size: 30px;
    color: var(--main-color);
}

@media (min-width: 768px) {
    .landing > div .image {
        display: none;
    }
    .landing > div .text {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .landing > div .text p {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .landing > div .image {
        display: none;
    }
    .landing > div .text {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .landing > div .text p {
        margin: 0 auto;
    }
    .landing > div .text h1 {
    font-size: 28px;
    }
}
/* End Lnading */
/* Start Articles */
.articles {
    padding: 350px 0 100px;
}

.articles .art-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

/* ------ */

.art {
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 22%);
}
.art img {
    max-width: 100%;
}
.art .text {
    padding: 15px;
}
.art .text h3 {
    margin-bottom: 10px;
}
.art .text p {
    line-height: 1.5;
    color: var(--p-color);
}
.art .more {
    padding: 20px 15px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d6d6d6;
}
.art .more a {
    color: var(--main-color);
    font-weight: bold;
}
/* End Articles */
/* Start Gallery */
.gallery {
    background-color: var(--sec-color);
    padding: var(--sec-pad);
}

.gallery > div .glry-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

/* -------- */

.glry {
    max-width: 100%;
    background-color: white;
    padding: 15px;
        box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.glry div {
    max-width: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.glry div::before {
    content: '';
    position: absolute;
    background-color: #ffffff2e;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0 , 0);
    z-index: 9;
    transition: var(--medium-transition);
}
.glry:hover div::before {
    transform: scale(1, 1);
    animation: opa 0.7s;
}
.glry:hover div::before {
    animation: opa 1s;
    animation-direction: normal;
    animation-fill-mode: both;
}
@keyframes opa {
    0% {
        background-color: #ffffff2e;
    }
    100% {
        background-color: transparent;
    }
}
.glry div img {
    max-width: 100%;
    transition: var(--medium-transition);
}
.glry:hover img {
    transform: rotate(5deg) scale(1.2 , 1.2);
}
/* End Gallery */
/* Start Features */
.features > div {
    padding: var(--sec-pad);
}

.features > div .feat-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features > div .feat-box .feat {
    border: 1px solid #dfdfdf;
}

.features > div .feat-box .feat .header {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.features > div .feat-box .feat .header img {
    max-width: 100%;
}

.features > div .feat-box .feat .header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: #f44036;
    opacity: 0.4;
}

.features > div .feat-box .feat .content {
    text-align: center;
    padding: 50px 0;
}

.features > div .feat-box .feat .content .title-feat {
    width: fit-content;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    margin: 0 auto;
    padding: 11px 0;
}

.features > div .feat-box .feat .content .title-feat::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    height: 6px;
    background-color: #f44036;
}

.features > div .feat-box .feat .content p {
    color: var(--p-color);
    font-size: 20px;
    padding: 50px 20px 0;
    line-height: var(--line-height);
}

.features > div .feat-box .feat .footer {
    padding: 20px;

}

.features > div .feat-box .feat .footer span {
    width: fit-content;
    margin: 0 auto;
    display: block;
    font-size: 22px;
    border: 2px solid #f44036;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bold;
    color: #f44036;
}

.features > div .feat-box .feat:nth-child(2)
.header::after {
    background-color: #009688;
}
.features > div .feat-box .feat:nth-child(2)
.content .title-feat::after {
    background-color: #009688;
}
.features > div .feat-box .feat:nth-child(2)
.footer span {
    border-color: #009688;
    color: #009688;
}

.features > div .feat-box .feat:nth-child(3)
.header::after {
    background-color: #03a9f4;
}
.features > div .feat-box .feat:nth-child(3)
.content .title-feat::after {
    background-color: #03a9f4;
}
.features > div .feat-box .feat:nth-child(3)
.footer span {
    border-color: #03a9f4;
    color: #03a9f4;
}
/* End Features */
/* Start Testimonials */
.testimonials {
    background-color: var(--sec-color);
}
.testimonials > div {
    padding: var(--sec-pad);
}

.testimonials > div .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 80px;
    row-gap: 40px;
}

.testimonials > div .cards .card {
    border-radius: 10px;
    background-color: white;
    position: relative;
    width: 100%;
    padding: 20px;
}

.testimonials > div .cards .card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid;
    border-color: var(--sec-color);
    position: absolute;
    top: calc(0px - 50px);
    right: calc(0px - 10px);
}

.testimonials > div .cards .card .title h3 {
    padding-bottom: 10px;
}

.testimonials > div .cards .card ul {
    display: flex;
    padding: 10px 0;
}

.testimonials > div .cards .card ul li {
    padding: 0 2px;
    color: #ffc107;
}

.testimonials > div .cards .card p {
    line-height: 1.6;
    color: var(--p-color);
}
/* End Testimonials */
/* Start Team Members */
.teammembers > div {
    padding: var(--sec-pad);
}

.teammembers > div .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.teammembers > div .cards .card {
    position: relative;
}

.teammembers > div .cards .card::before {
    content: '';
    border-radius: 10px;
    background-color: transparent;
    position: absolute;
    width: 85%;
    height: 100%;
    z-index: -1;
    background-color: var(--sec-color);
    right: 0;
}

.teammembers > div .cards .card .content {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.teammembers > div .cards .card .content img {
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
}

.teammembers > div .cards .card .content ul {
 margin: 0 auto;
}

.teammembers > div .cards .card .content ul li {
    padding: 15px 0;
}

.teammembers > div .cards .card .content ul li a i {
    color: var(--p-color);
}

.teammembers > div .cards .card .title {
    padding: 20px 0;
    padding-left: 20%;
}

.teammembers > div .cards .card .title h3 {
    color: var(--main-color);
    font-size: 22px;
    padding: 10px 0;
}

.teammembers > div .cards .card .title span {
    color: var(--p-color);
    padding: 6px 0;
}
/* End Team Members */